@import "tailwindcss";

@layer components{
    
}

/* === Modern CSS Reset === */
*,
*::before,
*::after {
    box-sizing: border-box;
}
#root {
    height: 100%;
    width: 100%;
}
html,
body {
    font-family: "Rubik";
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
